.home-container {
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0d0d0d;
    color: white;
}

.home-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.home-desc {
    width: 70%;
    text-align: center;
    opacity: 0.85;
    line-height: 1.6;
    font-size: 18px;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 25px;
    border: 3px solid #00ffff;
}