footer {
    width: 100%;
    padding: 20px 0;
    padding-top: 40px;
    background: #0d0d0d;
    /* dark aesthetic */
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer p {
    font-size: 14px;
    opacity: 0.8;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s ease;
}

footer .footer-links a:hover {
    opacity: 0.6;
    transform: scale(1.1);
}