@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
    background-color: #0A0A0A;
    color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}